#scrubBar::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #FFF1E6;
    border: none;
    cursor: pointer;
}

#scrubBar{
    background: linear-gradient(to right, #FFF1E6 0%, #FFF1E6 0%, gray 0%, gray 100%);
    height: 3px;
}
#card{
    background: linear-gradient(45deg, #001a33, #5d8ab6);  
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: gradientAnimation 5s infinite alternate;
}

#metaData{
    color: #FFF1E6;
}

#scrubBarProgressWrapper{
    position: relative;
    width: 100%;
    height: 3px;
    display: flex; 
    justify-content: space-between; 
    width: 510px; 
    margin-top: 5px;
    color: #FFF1E6;
    margin-bottom: 10px;
}